body{
	background-color:grey;
	font-family:georgia;
    color:black;	
 }
 
.center {
	margin:auto;
	width:72%;
	border:40px solid black;
	padding:0px;
	background-color:grey;
	text-align:justify;
	overflow:auto;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0px;
	overflow:hidden;
	background-color: #c0c0c0;
	position: fixed;
	width: 98.5%;
}

li {
	float: left;
}
li a{
	display: block;
	color: white;
	text-align: center;
	padding: 16px 110px;
	text-decoration: none;
}

li a:hover:not(.active) {
	background-color: white;
}

.active {
	background-color: white;
}

a:link {
	color:black;
}

a:visited {
	color:black;
}

a:hover{
	color:black;
}

a:active{
	color:red;
}

.titolo{
	font-size:80px;
	text-align:center;
}

p{
	font-size:17px;
}

.data{
	text-align:center;
}

.nome{
	text-align:center;	
}

input[type=text], select {
	width:100%;
	padding:20px 60px;
	margin:8 px o;
	display:inline-block;
	border:5px solid #CCC;
	border-radius:40px;
	box-sizing:border-box;
	
}

input[type=password], select {
	width:100%;
	padding:20px 60px;
	margin:8 px o;
	display:inline-block;
	border:5px solid #CCC;
	border-radius:40px;
	box-sizing:border-box;
	
}

input[type=submit] {
	width:100%;
	background-color:#4CAF50;
	color:white;
	padding:20px 60px;
	margin:8 px o;
	border:none;
	border-radius:40px;
	cursor:pointer;
}

input[type=reset] {
	width:100%;
	background-color:red;
	color:white;
	padding:20px 60px;
	margin:8 px o;
	border:none;
	border-radius:40px;
	cursor:pointer;
}

input [type=submit]: hover {
	background-color:#45A049;
}

textarea {
	width:100%;
	height:150px;
	padding:20px 60px;
	margin:8 px o;
	display:inline-block;
	border:5px solid #CCC;
	border-radius:40px;
	box-sizing:border-box;
	
}

#form div {
	border-radius:5px;
	background-color:#F2F2F2;
	padding:20px;
}

table#f01 {
	text-align:center;
}





